body{
    background-image: url('../img/pattern.jpg');
    margin: 0;
}

header{
    display: flex;
    background-color: white;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
}

header>ul>li {
    display: inline;
    text-decoration: none;
    padding-right: 30px;
}
header>ul>li>a {
    color: blue;
    text-decoration: none;
}
main{
    margin: 0 15%;
    background-color: white;
    padding: 10px;
    min-height: 80vh;
}
main> div > article > a {
    text-decoration: none;
}

h1{
    margin: 0px;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
}

footer{
    background-color: black;
}

footer>p{
    color: white;
    padding: 20px;
    margin: 0;
    text-align: center;
}

.logoimg{
    width: 250px;
    height: 65px;
}